html, body {
    height: 100%;
}

.profile-pic {
    height: 160px;
    border-radius: 400px;
    border: 2px solid white ;
    margin: 20px;
}

.social-pic {
    height: 100px;
    border-radius: 400px;
    border: 2px solid white ;
    margin: 20px;
}

/* .btn-primary {
    background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 25%,#398235 100%) ;
    border-color: #8ab66b;
} */
.card-block {
    color: white;
    height: 100px;
    vertical-align: middle;
}

.bg-gradient-dark {
    background: linear-gradient(to top, black 20%, gray 100%);
}

/* Tic Tac Toe Board */

#board div {
    float: left;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: solid 1px white;
    display: inline-block;
    margin: 3px;
    font-size: 3em;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
  }
  
  #board div:nth-child(3n+1) {
    clear: both;
  }